# Import Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import csv
from scipy import stats

# Import and clean dataset

In [2]:
file = open("audi.csv")
tester = csv.reader(file)

rows = []
for row in tester:
        rows.append(row)
rows.pop(0)

test = pd.read_csv("audi.csv", quotechar='"', skipinitialspace=True)


Y = test.price
X = test.drop(['price', 'model', 'transmission', 'fuelType'], axis = 1) 
X = X.head(200)
Y = Y.head(200)
print(test)

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

# Most selling year of used cars

In [3]:
stats.mode(test.year) #Most sold year

ModeResult(mode=array([2019], dtype=int64), count=array([3197]))

# Seaborn heatmap to show data relation

In [4]:
corr = test.corr()

mask = np.triu(np.ones_like(corr, dtype=bool))
mask = mask[1:, :-1]
corr = corr.iloc[1:,:-1].copy()
ax1 = sns.heatmap(corr, mask=mask, annot=True, cmap="RdYlGn")

NameError: name 'np' is not defined

# Scatter graph showing relation between Price, Mileage and year sold

In [ ]:
test.plot(kind = 'scatter', x = 'mileage', y = 'price', c='year', colormap='RdYlGn', sharex=False)
plt.xlim(0,160000)
plt.xlabel("Mileage")
plt.ylabel("Selling Price")